schemas/phx/INVTMB.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2022 SYSPRO Ltd.-->
<!--
     Schema for Inventory Bin Transfers Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostInvBinTransfers">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Parameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Parameters">
    <xsd:annotation>
      <xsd:documentation>This contains parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:all>
        <xsd:element ref="TransactionDate" minOccurs="0"/>
        <xsd:element ref="IgnoreWarnings" minOccurs="0"/>
        <xsd:element ref="PostingPeriod" minOccurs="0"/>
        <xsd:element ref="ApplyIfEntireDocumentValid" minOccurs="0"/>
        <xsd:element ref="ValidateOnly" minOccurs="0"/>
        <xsd:element name="WarnIfLotDatesDiffer" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This element indicates if a transfer between lots with different expiry dates must be treated as a warning. If not supplied or set to 'N', an error is reported. If set to 'Y', a warning is reported and, if ignoring warnings, transaction can be posted. Defaults to 'N'.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="0"/>
              <xsd:maxLength value="1"/>
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value=" "/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ApplyIfEntireDocumentValid" default="Y">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether to process entire document only if all items are valid. If set to 'N', each item is validated and rejected if in error or processed if correct. This is the fastest option. If set to 'Y', all items are validated and only processed if entire document is valid. Default is 'Y'. Valid values are 'Y' and 'N'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="N"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IgnoreWarnings" default="N">
    <xsd:annotation>
      <xsd:documentation>This element indicates whether or not a transaction must be rejected if there are any warnings such as a stock item being on hold. If 'W' is supplied, the error will be reported as a warning. If not supplied it defaults to 'N'. Valid values are 'N', 'W' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
        <xsd:enumeration value="W"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PostingPeriod" default="C">
    <xsd:annotation>
      <xsd:documentation>Period to which transaction must be posted. Valid values are 'C' for current period, 'P' for previous period and 'B' for before previous period (i.e. prior period 2).</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="C"/>
        <xsd:enumeration value="P"/>
        <xsd:enumeration value="B"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="TransactionDate">
    <xsd:annotation>
      <xsd:documentation>Date transaction raised. If not supplied, rundate is assumed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ValidateOnly" default="N">
    <xsd:annotation>
      <xsd:documentation>This element indicates which processing phases are to be performed. If set to 'Y' all items are validated and an XML string is returned with the result of the validation. No updating will take place. If set to 'N', each item is validated and updating is performed based on setting of the element 'ApplyIfEntireDocumentValid'. Default is 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
