schemas/phx/INVTMTDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2022 SYSPRO Ltd.-->
<!--
     Schema for Inventory Goods in Transit Warehouse Transfers Out Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CustomColumn">
		<xsd:annotation>
			<xsd:documentation>This element specifies the custom form column. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomValue">
		<xsd:annotation>
			<xsd:documentation>This element specifies the custom form value to be posted to the custom form column. This value will be validated against the column.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomItem">
		<xsd:annotation>
			<xsd:documentation>This element contains a custom form column and value. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomColumn"/>
				<xsd:element ref="CustomValue"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomForm">
		<xsd:annotation>
			<xsd:documentation>This is the top element for the set of custom form columns and values to be posted with the transaction. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomItem" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BinLocation">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if multiple bins are installed and must exist in the 'From' warehouse.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="eSignature">
		<xsd:annotation>
			<xsd:documentation>This element contains the GUID of the current process required to authenticate the transaction when Electronic Signatures are in use.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FromWarehouse">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory and must stock the specified stock item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GtrReference">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if GIT manual numbering is in use.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostInvGitWhTransferOut">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Item" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Journal" minOccurs="0"/>
				<xsd:element ref="GtrReference" minOccurs="0"/>
				<xsd:element ref="FromWarehouse"/>
				<xsd:element ref="BinLocation" minOccurs="0"/>
				<xsd:element ref="StockCode"/>
				<xsd:element ref="Version" minOccurs="0"/>
				<xsd:element ref="Release" minOccurs="0"/>
				<xsd:element ref="Quantity" minOccurs="0"/>
				<xsd:element ref="UnitOfMeasure" minOccurs="0"/>
				<xsd:element ref="Units" minOccurs="0"/>
				<xsd:element ref="Pieces" minOccurs="0"/>
				<xsd:element ref="ToWarehouse"/>
				<xsd:element ref="Lot" minOccurs="0"/>
				<xsd:element ref="FifoBucket" minOccurs="0"/>
				<xsd:element ref="Notation" minOccurs="0"/>
				<xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SerialAllocation" minOccurs="0"/>
				<xsd:element ref="CustomForm" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="eSignature" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Journal">
		<xsd:annotation>
			<xsd:documentation>This is the journal number to which the transaction journal entries generated will be added. It must be valid for the specified posting period and warehouse and may not have been printed already. If not supplied, a new journal will be created.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Lot">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory for lot traceable stock items. Not allowed for unit-qty type stock items.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FifoBucket">
		<xsd:annotation>
			<xsd:documentation>This element is optional. It is only applicable if Actual Costing is in use. (This element is redundant because buckets are always auto-depleted on transfers).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Notation">
		<xsd:annotation>
			<xsd:documentation>This element is optional.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Pieces">
		<xsd:annotation>
			<xsd:documentation>If stock item is a unit-qty type stock item and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. Pieces cannot be negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Quantity">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if stock item is not a unit-qty type stock item. If it is and this element is supplied, the units and pieces elements must NOT be supplied. Quantity cannot be negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Release">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if stock is ECC-controlled at relase level.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialNumber">
		<xsd:annotation>
			<xsd:documentation>Serial number from which serial quantity must be transferred.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialQuantity">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory and specifies the quantity to transfer for the specified serial number. If within the 'Serials' group and manual serial, it can only be 1 or -1. If within the 'SerialAllocation' group, it is the total quantity to be allocated for the specified range. The total quantity for all serial numbers specified must match the quantity specified for the transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialUnits">
		<xsd:annotation>
			<xsd:documentation>If stock item is a unit-qty type stock item and SerialQuantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. Units cannot be negative. This element is only valid for batch serialized items.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialPieces">
		<xsd:annotation>
			<xsd:documentation>If stock item is a unit-qty type stock item and SerialQuantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. Pieces cannot be negative. This element is only valid for batch serialized items.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialFifoBucket">
		<xsd:annotation>
			<xsd:documentation>This element is optional.
It is only required for Batch Serialized items if Actual Costing is by Serials. (This element is redundant because buckets are always auto-depleted on transfers).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Serials">
		<xsd:annotation>
			<xsd:documentation>A set of serial numbers and relevant quantities to process must be supplied, if stock item is serialized. Not allowed for unit-qty type stock items.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="SerialNumber"/>
				<xsd:element ref="SerialQuantity" minOccurs="0"/>
				<xsd:element ref="SerialUnits" minOccurs="0"/>
				<xsd:element ref="SerialPieces" minOccurs="0"/>
				<xsd:element ref="SerialFifoBucket" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SerialAllocation">
		<xsd:annotation>
			<xsd:documentation>This element is used to specify a range of serial numbers to be transferred. It is only valid when processing manual serialized stock items.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="FromSerialNumber"/>
				<xsd:element ref="ToSerialNumber" minOccurs="0"/>
				<xsd:element ref="SerialQuantity"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FromSerialNumber">
		<xsd:annotation>
			<xsd:documentation>This element specifies the starting serial number to be transferred.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ToSerialNumber">
		<xsd:annotation>
			<xsd:documentation>This element specifies the ending serial number to be transferred. If this element is not supplied, serial numbers will be transferred starting at the FromSerialNumber until the specified quantity has been transferred.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StockCode">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory and must be stocked in the 'From' warehouse specified.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ToWarehouse">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory. It must stock the specified stock item unless 'CreateDestinationWarehouse' parameter is set to 'Y'. In this case, the warehouse will be created for this stock item.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UnitOfMeasure">
		<xsd:annotation>
			<xsd:documentation>If quantity is supplied in a unit of measure different to the stocking unit of measure, this element may be supplied to indicate the alternate unit of measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Units">
		<xsd:annotation>
			<xsd:documentation>If stock item is a unit-qty type stock item and quantity element is not supplied, the quantity of the transaction must be supplied as units and pieces. At least one of these elements must be supplied. Units cannot be negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Version">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if stock is ECC-controlled at version or release level.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
