schemas/phx/INVTMNDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2022 SYSPRO Ltd.-->
<!--
     Schema for Inventory GIT Warehouse Transfer IN Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CustomColumn">
		<xsd:annotation>
			<xsd:documentation>This element specifies the custom form column. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomValue">
		<xsd:annotation>
			<xsd:documentation>This element specifies the custom form value to be posted to the custom form column. This value will be validated against the column.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CustomItem">
		<xsd:annotation>
			<xsd:documentation>This element contains a custom form column and value. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomColumn"/>
				<xsd:element ref="CustomValue"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomForm">
		<xsd:annotation>
			<xsd:documentation>This is the top element for the set of custom form columns and values to be posted with the transaction. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomItem" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ActionBackToSource">
		<xsd:annotation>
			<xsd:documentation>This element is only required if the quantity being accepted into the target warehouse is NOT the total outstanding quantity but the GIT transfer must be flagged as completed. In this case, the quantity supplied in the 'Quantity', 'Units' or 'Pieces' elements are accepted into the target warehouse and the remaining quantity will be either adjusted back to the source warehouse or treated as an expense issue. Valid values are 'A' for an adjustment or 'I' for an expense issue.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="I"/>
				<xsd:enumeration value="A"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ApplyCostMultiplier" default="N">
		<xsd:annotation>
			<xsd:documentation>This element indicates whether or not a cost multiplier must be applied to the cost of the GIT transfer. If not supplied it defaults to 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinLocation">
		<xsd:annotation>
			<xsd:documentation>If 'ActionBackToSource' is set to 'A' i.e. adjustment back to source warehouse, this element must contain the bin location to which the adjustment must be made.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="E1"/>
				<xsd:enumeration value="E2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinPieces">
		<xsd:annotation>
			<xsd:documentation>If 'ActionBackToSource' is set to 'A' i.e. adjustment back to source warehouse, this element must contain the quantity to be adjusted to the source bin location specified in 'BinLocation'. This element is only applicable to 'unit-qty type' stock items.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinQuantity">
		<xsd:annotation>
			<xsd:documentation>If 'ActionBackToSource' is set to 'A' i.e. adjustment back to source warehouse, this element must contain the quantity to be adjusted to the source bin location specified in 'BinLocation'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BinUnits">
		<xsd:annotation>
			<xsd:documentation>If 'ActionBackToSource' is set to 'A' i.e. adjustment back to source warehouse, this element must contain the quantity to be adjusted to the source bin location specified in 'BinLocation'. This element is only applicable to 'unit-qty type' stock items.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CostMultiplier">
		<xsd:annotation>
			<xsd:documentation>This element contains the cost multiplier to be applied to the cost of the GIT transfer and only takes effect if 'ApplyCostMultiplier' is set to 'Y' and the cost multiplier against the warehouse is greater than 1.00. If this is not supplied, the warehouse cost multiplier is used.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ExpenseLedgerCode">
		<xsd:annotation>
			<xsd:documentation>This element contains the ledger account code to which an expense issue must be posted, if it differs from the default already set in SYSPRO 6.0.
If supplied, it must be a valid ledger account.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="eSignature">
		<xsd:annotation>
			<xsd:documentation>This element contains the GUID of the current process required to authenticate the transaction when Electronic Signatures are in use.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GtrReference">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory and must contain the GTR reference number to be processed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Journal" minOccurs="0"/>
				<xsd:element ref="Key"/>
				<xsd:element ref="Quantity" minOccurs="0"/>
				<xsd:element ref="Units" minOccurs="0"/>
				<xsd:element ref="Pieces" minOccurs="0"/>
				<xsd:element ref="ActionBackToSource" minOccurs="0"/>
				<xsd:element ref="TargetBin" minOccurs="0"/>
				<xsd:element ref="ExpenseLedgerCode" minOccurs="0"/>
				<xsd:element ref="PasswordForLedgerCode" minOccurs="0"/>
				<xsd:element ref="Lot" minOccurs="0"/>
				<xsd:element ref="Serials" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SourceBins" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ApplyCostMultiplier" minOccurs="0"/>
				<xsd:element ref="CostMultiplier" minOccurs="0"/>
				<xsd:element ref="NonMerchandiseCost" minOccurs="0"/>
				<xsd:element ref="NonMerchandiseDistribution" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Notation" minOccurs="0"/>
				<xsd:element ref="CustomForm" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="eSignature" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Journal">
		<xsd:annotation>
			<xsd:documentation>This is the journal number to which the transaction journal entries generated will be added. It must be valid for the current posting period and warehouse and may not have been printed already. If not supplied a new journal will be created.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Key">
		<xsd:annotation>
			<xsd:documentation>This is the top element specifying the key of the GIT transaction to be processed. It must be the key to a record in the GtrDetail table.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="GtrReference"/>
				<xsd:element ref="SourceWarehouse"/>
				<xsd:element ref="TargetWarehouse"/>
				<xsd:element ref="LineNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineNumber">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory and must contain the line number corresponding to the transaction to be processed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Lot">
		<xsd:annotation>
			<xsd:documentation>This is the top element for the data relating to the lot being received into the target warehouse, if the stock item is lot traceable.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="LotNumber"/>
				<xsd:element ref="LotBin" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LotNumber">
		<xsd:annotation>
			<xsd:documentation>If GIT transfer is for a lot-traceable stock item and the quantity being accepted is not the total outstanding quantity, the lot number for the quantity being accepted must be supplied. Only one lot must be supplied each time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LotBin">
		<xsd:annotation>
			<xsd:documentation>If Multiple Bins are installed, the bin relating to the specified lot number being received into the source warehouse must be specified.  This will be the source bin where the quantity will be transferred from. If associate bins with serials is on the field is mandatory.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NmAmount">
		<xsd:annotation>
			<xsd:documentation>This element contains the non-merchandise amount to be posted to the corresponding ledger code. If not supplied, the total non-merchanside cost will be posted in one entry.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NmLedgerCode">
		<xsd:annotation>
			<xsd:documentation>This element contains the ledger code to which the non-merchandise amount must be posted.
If not supplied, the default cost multiplier ledger code defined against the GIT warehouse is used. If this is blank, the cost multiplier ledger code defined against the warehouse in the Warehouse Matrix is used.
If this is also blank, the transaction will be rejected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NmReference">
		<xsd:annotation>
			<xsd:documentation>This is the reference written to the journal for this entry.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NonMerchandiseCost">
		<xsd:annotation>
			<xsd:documentation>This element contains a non merchandise cost to be applied and overrides the cost multiplier, if supplied. This only takes effect if 'ApplyCostMultiplier' is set to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NonMerchandiseDistribution">
		<xsd:annotation>
			<xsd:documentation>This is the top element for the non-merchandise distribution. If the element 'ApplyCostMultiplier' is set to 'Y', and this is not supplied, the non-merchandise cost is posted to the default ledger code.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NmReference" minOccurs="0"/>
				<xsd:element ref="NmLedgerCode" minOccurs="0"/>
				<xsd:element ref="NmAmount" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Notation">
		<xsd:annotation>
			<xsd:documentation>This element is optional.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PasswordForLedgerCode">
		<xsd:annotation>
			<xsd:documentation>This element must contain a valid password, if the 'ExpenseLedgerCode' supplied is password-protected.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Pieces">
		<xsd:annotation>
			<xsd:documentation>This element contains the number of pieces to be accepted into the target warehouse and must only be supplied if NOT transferring the total outstanding quantity. This is only applicable to 'unit-qty type' stock items. It must not be negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostInvGitWhTransferIn">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Item" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Quantity">
		<xsd:annotation>
			<xsd:documentation>This element contains the quantity to be accepted into the target warehouse and must only be supplied if NOT transferring the total outstanding quantity. It must not be negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialNumber">
		<xsd:annotation>
			<xsd:documentation>If GIT transfer is for a serialized stock item and the quantity being accepted is not the total outstanding quantity, the serial numbers corresponding to the quantity being accepted must be supplied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialQuantity">
		<xsd:annotation>
			<xsd:documentation>If GIT transfer is for a serialized stock item and the quantity being accepted is not the total outstanding quantity, the quantity corresponding to each serial number being accepted must be supplied.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialUnits">
		<xsd:annotation>
			<xsd:documentation>This element contains the number of units to be accepted into the target warehouse and must only be supplied if NOT transferring the total outstanding quantity. This is only applicable when the 'SerialQuantity' element is not supplied. It must not be negative. This element is only valid for batch serialized items.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialPieces">
		<xsd:annotation>
			<xsd:documentation>This element contains the number of pieces to be accepted into the target warehouse and must only be supplied if NOT transferring the total outstanding quantity. This is only applicable when the 'SerialQuantity' element is not supplied. It must not be negative. This element is only valid for batch serialized items.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Serials">
		<xsd:annotation>
			<xsd:documentation>This is a top element for all data relating to a specific serial number.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SerialNumber"/>
				<xsd:element ref="SerialQuantity" minOccurs="0"/>
				<xsd:element ref="SerialUnits" minOccurs="0"/>
				<xsd:element ref="SerialPieces" minOccurs="0"/>
				<xsd:element name="SerialBin" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This bin will only be used when associate bins with serials is on.  This will be the source bin of the serial where the quantity is being transferred from.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SourceBins">
		<xsd:annotation>
			<xsd:documentation>This is the top element for the data required for posting back to a bin in the source warehouse. Source bins are only required if Multiple Bins are installed and the stock item is NOT lot traceable.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="BinLocation"/>
				<xsd:element ref="BinQuantity" minOccurs="0"/>
				<xsd:element ref="BinUnits" minOccurs="0"/>
				<xsd:element ref="BinPieces" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SourceWarehouse">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory and must contain the source warehouse relating to the transaction to be processed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TargetBin">
		<xsd:annotation>
			<xsd:documentation>This element contains the target bin location, if it differs from the original GIT transfer bin location. If the parameter element 'CreateBinLocation' is set to 'N' and the target bin location does not exist, the transaction will be rejected. When associate bins with serials is on, this will be the target serial bin.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TargetWarehouse">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory and must contain the target warehouse relating to the transaction to be processed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Units">
		<xsd:annotation>
			<xsd:documentation>This element contains the number of units to be accepted into the target warehouse and must only be supplied if NOT transferring the total outstanding quantity. This is only applicable to 'unit-qty type' stock items. It must not be negative.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
