schemas/phx/INVTMO.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2022 SYSPRO Ltd.-->
<!--
     Schema for Inventory Warehouse Transfer Out Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ApplyIfEntireDocumentValid" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element indicates whether to process entire document only if all items are valid. If set to 'N', each item is validated and rejected if in error or processed if correct. This is the fastest option. If set to 'Y', all items are validated and only processed if entire document is valid. Default is 'Y'. Valid values are 'Y' and 'N'.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CreateDestinationWarehouse" default="N">
		<xsd:annotation>
			<xsd:documentation>This element indicates whether a destination warehouse must be created, if it does not exist. If it is not supplied, it defaults to 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IgnoreWarnings" default="N">
		<xsd:annotation>
			<xsd:documentation>This element indicates whether or not a transaction must be rejected if there are any warnings such stock item on hold. If 'W' suplpied, the error is reported as a warning. If not supplied it defaults to 'N'. Valid values are 'N', 'W' and 'Y.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="W"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostInvWhTransferOut">
		<xsd:annotation>
			<xsd:documentation>This is the root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element ref="Parameters"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Parameters">
		<xsd:annotation>
			<xsd:documentation>This contains paramenters</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:all>
				<xsd:element ref="TransactionDate" minOccurs="0"/>
				<xsd:element ref="IgnoreWarnings" minOccurs="0"/>
				<xsd:element ref="CreateDestinationWarehouse" minOccurs="0"/>
				<xsd:element ref="TransferCostIfReceivingWhCostZero" minOccurs="0"/>
				<xsd:element ref="ApplyIfEntireDocumentValid" minOccurs="0"/>
				<xsd:element ref="ValidateOnly" minOccurs="0"/>
				<xsd:element ref="IncludeDimensionAnalysis" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransactionDate">
		<xsd:annotation>
			<xsd:documentation>Date transaction raised. If not supplied, rundate is assumed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ValidateOnly" default="N">
		<xsd:annotation>
			<xsd:documentation>This element indicates which processing phases are to be performed. If set to 'Y' all items are validated and an XML string is returned with the result of the validation. No updating will take place. If set to 'N', each item is validated and updating is performed based on setting of the element 'ApplyIfEntireDocumentValid'. Default is 'N'. Valid values are 'N' and 'Y'.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TransferCostIfReceivingWhCostZero" default="Y">
		<xsd:annotation>
			<xsd:documentation>This element applies only if posting an immediate transfer to a warehouse using Standard Costing and it has no stock on hand and cost is zero.
Default is 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value=" "/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncludeDimensionAnalysis" default="N">
		<xsd:annotation>
			<xsd:documentation>This option determines whether or not to use GL dimension analysis. If set to 'Y' then GL dimension analysis will be used. The default is 'N'.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value=""/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
