schemas/phx/WIPQRY.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2014 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Query Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IncludeCustomForms" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include fields from custom forms ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOperationsCustomForm" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include field custom forms for operations? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMaterialsCustomForm" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include field custom forms for materials? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeIcons" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to attach icons against material and labor allocations ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeJobNarrations" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include narrations attached to the job header ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMaterialAllocations" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include material allocations attached to the job ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMaterialBins" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include multiple bins against the material transactions  ? (N - No, Y - Yes). This flag is ignored if material transactions are excluded (IncludeMaterialTransactions = N)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMaterialNarrations" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include narrations attached to the material allocations ? (N - No, Y - Yes). This flag is ignored if material allocations are excluded (IncludeMaterialAllocations = N)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMaterialSerials" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include serial numbers against the material transactions  ? (N - No, Y - Yes). This flag is ignored if material transactions are excluded (IncludeMaterialTransactions = N)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeMaterialTransactions" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include transactions posted against the material allocations  ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOperationAllocations" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include labor allocations attached to the job ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOperationNarrations" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include narrations attached to the labor allocations ? (N - No, Y - Yes). This flag is ignored if labor allocations are excluded (IncludeOperationAllocations = N)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludeOperationTransactions" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include transactions posted against the labor allocations  ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePartBooked" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include part bookings attached to the job ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="IncludePurchaseOrders" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include purchase orders raised against the material allocations  ? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Job">
    <xsd:annotation>
      <xsd:documentation>The job to use for the query</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Key">
    <xsd:annotation>
      <xsd:documentation>The key to use for this query.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Job"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MultiMediaImageType">
    <xsd:annotation>
      <xsd:documentation>Image type to retrieve (for example: GIF, JPG)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Option">
    <xsd:annotation>
      <xsd:documentation>The list of options</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="MultiMediaImageType" minOccurs="0"/>
        <xsd:element ref="IncludeCustomForms" minOccurs="0"/>
        <xsd:element ref="IncludeIcons" minOccurs="0"/>
        <xsd:element ref="IncludeJobNarrations" minOccurs="0"/>
        <xsd:element ref="IncludeMaterialAllocations" minOccurs="0"/>
        <xsd:element ref="IncludeMaterialNarrations" minOccurs="0"/>
        <xsd:element ref="IncludeMaterialTransactions" minOccurs="0"/>
        <xsd:element ref="IncludeMaterialBins" minOccurs="0"/>
        <xsd:element ref="IncludeMaterialSerials" minOccurs="0"/>
        <xsd:element ref="IncludePurchaseOrders" minOccurs="0"/>
        <xsd:element ref="IncludeOperationAllocations" minOccurs="0"/>
        <xsd:element ref="IncludeOperationNarrations" minOccurs="0"/>
        <xsd:element ref="IncludeOperationTransactions" minOccurs="0"/>
        <xsd:element ref="IncludePartBooked" minOccurs="0"/>
        <xsd:element name="IncludeReservedLots" default="N" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Do you wish to include reserved lots for the job and parent part ? (N - No, Y - Yes,)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IncludeReservedSerials" default="N" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Do you wish to include reserved serials for the job and parent part ? (N - No, Y - Yes,)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IncludeMaterialReservedLots" default="N" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Do you wish to include reserved lots for the material allocations ? (N - No, Y - Yes,)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IncludeMaterialReservedSerials" default="N" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Do you wish to include reserved serials for the material allocations ? (N - No, Y - Yes,)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IncludeCoProducts" default="N" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Do you wish to include co-products ? (N - No, Y - Yes,)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="N"/>
              <xsd:enumeration value="Y"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="IncludeOperationsCustomForm" minOccurs="0"/>
        <xsd:element ref="IncludeMaterialsCustomForm" minOccurs="0"/>
        <xsd:element name="IncludeJobNotes" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Do you wish to include notes attached to the job? (N-No, Y-Yes)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IncludeJobVariances" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Do you wish to include job variances? (N-No, Y-Yes) - SQL only</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Y"/>
              <xsd:enumeration value="N"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="IncludeJobPostCustomForm" minOccurs="0"/>
        <xsd:element name="UnitOfMeasure" default="S" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Select 'S' for stocking u/m or 'M' for the unit of measure used wehn creating the job. Quantities and times entered will be according to the unit of measure selected.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="S"/>
              <xsd:enumeration value="M"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="CostBasis" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>A Cost Basis can be entered to calculate the Receipt Cost of the Job (Space/C - Current, W - WIP Value, A- Actual, E - Expected, O - Output all).</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value=" "/>
              <xsd:enumeration value="W"/>
              <xsd:enumeration value="C"/>
              <xsd:enumeration value="A"/>
              <xsd:enumeration value="E"/>
              <xsd:enumeration value="O"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="XslStylesheet" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IncludeJobPostCustomForm" default="N">
    <xsd:annotation>
      <xsd:documentation>Do you wish to include job posting (WIPPST) custom form fields? (N - No, Y - Yes,)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
        <xsd:enumeration value="N"/>
        <xsd:enumeration value="Y"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Query">
    <xsd:annotation>
      <xsd:documentation>The root element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:sequence>
        <xsd:element ref="Key"/>
        <xsd:element ref="Option"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="XslStylesheet">
    <xsd:annotation>
      <xsd:documentation>The Stylesheet to be applied</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="preserve"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
