schemas/phx/WIPTLPDOC.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2022 SYSPRO Ltd.-->
<!-- 
     Schema for the WIP Labor Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>This is the top element for all data required for the transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Journal" minOccurs="0"/>
				<xsd:element ref="ItemTransactionDate" minOccurs="0"/>
				<xsd:element ref="TransactionTime" minOccurs="0"/>
				<xsd:element ref="Job" minOccurs="0"/>
				<xsd:element name="UnitOfMeasure" default="S">
					<xsd:annotation>
						<xsd:documentation>Select 'S' for stocking uom, 'A' for alternate uom, 'O' for other uom or 'M' for manufacturing uom. Quantities and times entered will be according to the unit of measure selected.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
							<xsd:enumeration value="S"/>
							<xsd:enumeration value="A"/>
							<xsd:enumeration value="O"/>
							<xsd:enumeration value="M"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="LOperation" minOccurs="0"/>
				<xsd:element ref="LWorkCentre" minOccurs="0"/>
				<xsd:element ref="LWcRateInd" minOccurs="0"/>
				<xsd:element ref="LEmployee" minOccurs="0"/>
				<xsd:element ref="LMachine" minOccurs="0"/>
				<xsd:element ref="LRunTimeHours" minOccurs="0"/>
				<xsd:element ref="LSetUpHours" minOccurs="0"/>
				<xsd:element ref="LStartupHours" minOccurs="0"/>
				<xsd:element ref="LTeardownHours" minOccurs="0"/>
				<xsd:element ref="ManualWorkCenterRates" minOccurs="0"/>
				<xsd:element ref="ManualRates" maxOccurs="unbounded"/>
				<xsd:element ref="NonProductiveCode" minOccurs="0"/>
				<xsd:element name="Reference" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This element specifies the reference number.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AdditionalReference" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This element specifies the additional reference number.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="MultipleScrapEntries" default="N" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This element specifies whether you are entering multiple scrap codes for the scrap quantity. The default is set to No. Y - Yes, N - No.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
							<xsd:enumeration value="N"/>
							<xsd:enumeration value="Y"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element ref="ScrapCode" minOccurs="0"/>
				<xsd:element name="MultipleScrap" nillable="false" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This is the group element that specifies the multiple scrap entries if you have selected Multiple scrap Entries.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all minOccurs="0">
							<xsd:element name="MultipleScrapCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Use this element to split the scrap quantities against multiple scrap codes.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="MultipleScrapQty" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Quantity scrapped against the scrap code.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CoProductScrap" nillable="false" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This is the group element that specifies the co product scrap entries if you are posting labor with scrap for a notional part.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="CoProductLineNumber" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element indicates the co-product line number of the co-product you wish to update. This is mandatory.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CoProductScrapCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This is the scrap code against which the co-product is to be scrapped.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CoProductScrapQty" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This is the quantity to be scrapped for the co-product.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CoProductReservedLot" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Reserved lot to scrap when the co-product is lot traceable and you are reserving lots.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CoProductReservedSerials" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>A set of serial numbers and quantity to supply when the co-product is serialized and you are reserving serials.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType mixed="false">
									<xsd:all>
										<xsd:element ref="SerialNumber"/>
										<xsd:element ref="SerialQuantity" minOccurs="0"/>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="LQtyComplete" minOccurs="0"/>
				<xsd:element ref="LQtyScrapped" minOccurs="0"/>
				<xsd:element ref="PiecesCompleted" minOccurs="0"/>
				<xsd:element ref="OperCompleted" minOccurs="0"/>
				<xsd:element ref="LEmployeeRatInd" minOccurs="0"/>
				<xsd:element ref="SubcontractValue" minOccurs="0"/>
				<xsd:element name="Esignature" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>If required, this element must contain a GUID, for the eSignature system to accept the transaction as having been authenticated. The GUID format is in the format {36303032-3330-3031-3038-323434363433}, where the numbers can be replaced with any character. It is up to the developer to have requested a password to protect the transaction. An example is that a GUID associated with the act of entering a valid password could be obtained and presented.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ReservedLot" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Reserved lot to scrap when the item is lot traceable and you are reserving lots.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ReservedSerials" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>A set of serial numbers and quantity to supply when the item is serialized and you are reserving serials.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element ref="SerialNumber"/>
							<xsd:element ref="SerialQuantity" minOccurs="0"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CalculateTimes" nillable="false" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>This is the group where you specify start and end times for the operation and the time taken in the time UOM (hours, minutes,seconds - select this according to how your work centre rates are setup) will be calculated for you.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="false">
						<xsd:all>
							<xsd:element name="TimeUom">
								<xsd:annotation>
									<xsd:documentation>This is the time unit of measure. Valid entries are H - Hours, M - Minutes, S - Seconds. If blank the below start and end times will be ignored</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="H"/>
										<xsd:enumeration value="M"/>
										<xsd:enumeration value="S"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element ref="SetupStart" minOccurs="0"/>
							<xsd:element ref="SetupEnd" minOccurs="0"/>
							<xsd:element ref="StartupStart" minOccurs="0"/>
							<xsd:element ref="StartupEnd" minOccurs="0"/>
							<xsd:element ref="RunStart" minOccurs="0"/>
							<xsd:element ref="RunEnd" minOccurs="0"/>
							<xsd:element ref="TeardownStart" minOccurs="0"/>
							<xsd:element ref="TeardownEnd" minOccurs="0"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="CustomForm" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Job">
		<xsd:annotation>
			<xsd:documentation>This element is optional. It specifies the job to which the labor is being posted to. If this is blank then a valid Non-productive code must be entered. The format is alphanumeric or numeric depending on the configuration option within SYSPRO. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LEmployee">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if the option in WIP setup to validate employee during labor posting is set on or if the work center uses employee rate.  It indicates the employee against whom postings are being made.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LEmployeeRatInd">
		<xsd:annotation>
			<xsd:documentation>This element specifies the employee rate to be used.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LMachine">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if the option in WIP setup to validate machine code during labor posting is set on. It indicates the machine against which postings are to be made.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LOperation">
		<xsd:annotation>
			<xsd:documentation>This element specifies the operation to which postings are to be made. If no operation is passed and all the existing operations are complete then a new (dummy) operation using the next operation number will be created. If all operatinos are not complete, then an operation number must be passed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LQtyComplete">
		<xsd:annotation>
			<xsd:documentation>This element specifies the qty complete for this operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LQtyScrapped">
		<xsd:annotation>
			<xsd:documentation>This element specifies the total quantity scrapped for this operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LRunTimeHours">
		<xsd:annotation>
			<xsd:documentation>This element specifies  the run time you are going to be posting.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LSetUpHours">
		<xsd:annotation>
			<xsd:documentation>This element specifies the setup time you are going to be posting.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LStartupHours">
		<xsd:annotation>
			<xsd:documentation>This element specifies the startup time you are going to be posting.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LTeardownHours">
		<xsd:annotation>
			<xsd:documentation>This element specifies the teardown time you are going to be posting.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LWcRateInd">
		<xsd:annotation>
			<xsd:documentation>This element specifies the work center rate to be used.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LWorkCentre">
		<xsd:annotation>
			<xsd:documentation>This element specifies the work center. If warnings are being ignored and the work center is spaces, it defaults to the operation work center.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NonProductiveCode">
		<xsd:annotation>
			<xsd:documentation>This element specifies the non-productive code to which non-productive time is posted. If the job is spaces then this field is mandatory as non-productive time is being posted.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="OperCompleted">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if posting to a job and specifies whether the operation is complete. Y - Yes, N - No.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PiecesCompleted">
		<xsd:annotation>
			<xsd:documentation>This element  specifies the number of pieces completed for this operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PostLabour">
		<xsd:annotation>
			<xsd:documentation>This is the root element.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Item"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ScrapCode">
		<xsd:annotation>
			<xsd:documentation>This element is mandatory if a scrapped qty has been entered and you are not using multiple scrap entries.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SubcontractValue">
		<xsd:annotation>
			<xsd:documentation> This is the subcontract value if the work center is a subcontracted work center.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Journal">
		<xsd:annotation>
			<xsd:documentation>This is the journal number to which the transaction journal entries generated will be added. It must be valid for the specified posting period and  may not have been printed already. If not supplied, a new journal will be created.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ItemTransactionDate">
		<xsd:annotation>
			<xsd:documentation>Date transaction raised. If the transaction date is entered at this point, the date supplied in the parameters will be overwritten.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TransactionTime">
		<xsd:annotation>
			<xsd:documentation>Time transaction raised. This will default to current system time if no time is specified in this elememt</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ManualWorkCenterRates" default="N">
		<xsd:annotation>
			<xsd:documentation>This element specifies whether you are entering manual work center rates. If set to 'Y' then the entered rates will override the rates of the selected work center: Y -Yes, N - No (default - N).</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="Y"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SetupRate" default="0.0000">
		<xsd:annotation>
			<xsd:documentation>This will override the setup rate of the selected work center. This will only come into effect if you have set Manual Work Center Rates to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ManualRates" nillable="false">
		<xsd:annotation>
			<xsd:documentation>This is the group where you specify the rates that will override those of the selected work center. They will only come into effect if you have set Manual Work Center Rates to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:all>
				<xsd:element ref="SetupRate" minOccurs="0"/>
				<xsd:element ref="RunRate" minOccurs="0"/>
				<xsd:element ref="FixedOverheadRate" minOccurs="0"/>
				<xsd:element ref="VariableOverheadRate" minOccurs="0"/>
				<xsd:element ref="StartupRate" minOccurs="0"/>
				<xsd:element ref="TeardownRate" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RunRate" default="0.0000">
		<xsd:annotation>
			<xsd:documentation>This will override the run rate of the selected work center. This will only come into effect if you have set Manual Work Center Rates to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FixedOverheadRate" default="0.0000">
		<xsd:annotation>
			<xsd:documentation>This will override the fixed overhead rate of the selected work center. This will only come into effect if you have set Manual Work Center Rates to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="VariableOverheadRate" default="0.0000">
		<xsd:annotation>
			<xsd:documentation>This will override the variable overhead rate of the selected work center. This will only come into effect if you have set Manual Work Center Rates to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="StartupRate" default="0.0000">
		<xsd:annotation>
			<xsd:documentation>This will override the start up rate of the selected work center. This will only come into effect if you have set Manual Work Center Rates to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TeardownRate" default="0.0000">
		<xsd:annotation>
			<xsd:documentation>This will override the tear down rate of the selected work center. This will only come into effect if you have set Manual Work Center Rates to 'Y'.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialNumber">
		<xsd:annotation>
			<xsd:documentation>This indicates the serial number that you want to scrap. The format is either alphanumeric or numeric depending on the key configuration for serials within SYSPRO.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerialQuantity">
		<xsd:annotation>
			<xsd:documentation>This element indicates the quantity that will be scrapped for the reserved serial. The quantity can only be 1 for manual serials.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SetupStart">
		<xsd:annotation>
			<xsd:documentation>This is the time the setup was started</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SetupEnd">
		<xsd:annotation>
			<xsd:documentation>This is the time the setup ended</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StartupStart">
		<xsd:annotation>
			<xsd:documentation>This is the time the startup started</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StartupEnd">
		<xsd:annotation>
			<xsd:documentation>This is the time the startup ended</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RunStart">
		<xsd:annotation>
			<xsd:documentation>This is the time the run started</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RunEnd">
		<xsd:annotation>
			<xsd:documentation>This is the time the run ended</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TeardownStart">
		<xsd:annotation>
			<xsd:documentation>This is the time the teardown started</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TeardownEnd">
		<xsd:annotation>
			<xsd:documentation>This is the time the teardown ended</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomForm" nillable="false">
		<xsd:annotation>
			<xsd:documentation>This is the top element for the set of custom form columns and values to be posted with the transaction. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="CustomItem" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>This element contains a custom form column and value. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CustomColumn" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>This element specifies the custom form column. </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustomValue" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
