schemas/phx/WIPTJR.XSD

<?xml version="1.0" encoding="Windows-1252"?>
<!-- Copyright 1994-2022 SYSPRO Ltd.-->
<!-- 
     Schema for the parameters for the Job Receipt Posting Business Object
-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PostJobReceipts">
    <xsd:annotation>
      <xsd:documentation>This is the root element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="false">
      <xsd:all>
        <xsd:element name="Parameters" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>This contains parameters.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType mixed="false">
            <xsd:all>
              <xsd:element name="ValidateOnly" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates which processing phases are to be performed. If set to 'Y' all items are validated and an XML string is returned with the result of the validation. No updating will take place. If set to 'N', each item is validated and updating is performed based on setting of the element 'ApplyIfEntireDocumentValid'. Default is 'N'. Valid values are 'N' and 'Y'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ApplyIfEntireDocumentValid" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates whether to process entire document only if all items are valid. If set to 'N', each item node is validated and rejected if in error or processed if correct. This is the fastest option. If set to 'Y', all items are validated and only processed if entire document is valid. Default is 'N'. Valid values are 'Y' and 'N'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IgnoreWarnings" default="N" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Specifies if warnings are to be ignored (Y - if the warnings are to be ignored, N - warnings will be returned as errors in the XML returned, W - warnings will be returned as warnings in the XML returned.)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TransactionDate" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>Date transaction raised. If not supplied, then the system run date is used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:date"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SetJobToCompleteIfCoProductsComplete" default="Y" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This element indicates if the notional job should be set to complete after all the co-products have been receipted and completed. Possible values: Y (set notional job to complete after all co-products complete) or N (status of the notional job will not be changed). Default is Y.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:whiteSpace value="preserve"/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="IncludeDimensionAnalysis" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>This option determines whether or not to use GL dimension analysis. If set to 'Y' then GL dimension analysis will be used. The default is 'N'.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
